/*h1标题*/
h1 {
    font-size: 2.5em;
    margin: 0.67em 0;
    text-align: center;
    font-family: 隶书,serif;
	color:#CCFF66;
}
/*h2标题*/
h2 {
    font-size: 1.8em;
    text-align: center;
    font-family: 隶书;
	color:#CCFF66;
}
/*h3标题*/
h3 {
	font-size: 1.5em;
	text-align: center;
	font-family: 隶书;
	color:#CCFF66;
}
/*更改正文字体样式*/
p {
    font-size: 1.25em;
    font-family: 方正姚体,serif;
    color: #4D4DFF;
}

/*主页名片动画*/
.container.animated.fadeIn {
    animation-name: ffadeIn;
	-webkit-animation-name: ffadeIn;
}
